---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
  const allPosts: object = await Astro.glob('../posts/*.md');
  //@ts-ignore
  const uniqueTags: object = [...new Set(allPosts.map((post: object) => post.frontmatter.tags).flat())];
  //@ts-ignore
  return uniqueTags.map((tag: object): object => {
    //@ts-ignore
    const filteredPosts = allPosts.filter((post: object) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
} 

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <p>{tag}のタグが付いた記事</p>
  <ul>
    {
      //@ts-ignore
      posts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)
    }
  </ul>
</BaseLayout>