---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "/ABOUT";
---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li>お問い合わせ先: info.openise＠gmail.com</li>
  </ul>
</BaseLayout>

