---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import Greeting from '../components/Greeting';
const pageTitle = "openise.jp";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>openise.jpのホームページ</h2>
  <Greeting client:load messages={["どうも", "こんにちは", "初めまして", "ようこそ"]} />
  <ul role="list" class="link-card-grid">
    <Card
      href="/blog/"
      title="/BLOG"
      body="ブログ投稿一覧"
    />
    <Card
      href="/tags/"
      title="/TAGS"
      body="タグ一覧"
    />
    <Card
    href="https://docs.astro.build/ja/getting-started/"
    title="Documentation"
    body="Learn how Astro works and explore the official API docs."
    />
    <Card
      href="https://astro.build/themes/"
      title="Themes"
      body="Explore a galaxy of community-built starter themes."
    />
  </ul>
  <style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
</BaseLayout>