---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-5">
      <Link href="/astro-openise-jp/" underline={false}>
        <div class="font-semibold">
          {SITE.TITLE}
        </div>
      </Link>
      <nav class="flex items-center gap-1 text-sm">
        <Link href="/astro-openise-jp/blog">blog</Link>
        <span>
          {`/`}
        </span> 
        <Link href="/astro-openise-jp/tags">tags</Link>
      </nav>
    </div>
  </Container>
</header>