---
const { post } = Astro.props;
---
{post.data.tags.map((tag: string) => (
  <p class="animate text-base m-1 p-2 rounded-lg">
    <a class="hover:underline" href={`/tags/${tag}`}>{tag}
    </a>
  </p>
))}