name: Deploy to GitHub Pages

on:
  push:
    branches: [main] # デプロイするブランチ

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install, build, and upload
        uses: withastro/action@v2
        # with:
        #   node-version: 20 # 必要に応じてNodeバージョン指定

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

